<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Us - Bebe</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link rel="stylesheet" href="css/general.css">
    
    <!-- Modernizr -->
    <script type='text/javascript' src='js/libs/modernizr-2.5.3.min.js'></script>

    <!-- Font -->
    <!--<link href='http://fonts.googleapis.com/css?family=McLaren' rel='stylesheet' type='text/css'>-->

    <!-- Semantic HTML5 Support on old IE -->
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Background Awesomeness -->
    <div id="night"></div>

    <!-- Stars -->
    <div class="back" id="stars1"></div>
    <div class="back" id="stars2"></div>

    <!-- Clouds -->
    <div class="back" id="cloud1"></div>
    <div class="back" id="cloud2"></div>
    <div class="back" id="cloud3"></div>
    <div class="back" id="cloud4"></div>
    <div class="back" id="cloud5"></div>

    <!-- Header Section -->
    <header>
        <div class="center-align cf">

            <!-- Logo -->
            <a href="index.html">
                <div class="logo float-left"> <span>Slogan text here</span> </div>
            </a>

            <!-- Social & Search -->
            <div class="social float-right cf">
                <form id="search" method="get" action="http://www.google.com">
                    <input class="search-inp" type="text" name="q" size="21" maxlength="120" placeholder="Search">
                    <input class="search-btn" type="submit" value="">
                </form>
                <ul>
                    <li class="facebook"><a href=""></a></li>
                    <li class="instagram"><a href=""></a></li>
                    <li class="pinterest"><a href=""></a></li>
                    <li class="twitter"><a href=""></a></li>
                    <li class="youtube"><a href=""></a></li>
                </ul>
            </div>

            <!-- Nav -->
            <nav>
                <ul class="cf">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li>
                        <a href="blog.html">Activities</a>
                        <ul>
                            <li><a href="blog-single.html">Single Post</a></li>
                            <li>
                                <a>Second level</a>
                                <ul>
                                    <li><a>Third level</a></li>
                                    <li><a>Third level</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="rooms.html">Rooms</a></li>
                    <li>
                        <a>Pages</a>
                        <ul>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="gallery-opened.html">Single Gallery</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="contacts.html">Contact</a></li>
                </ul>
            </nav>

            <!-- Drop Down -->
            <div class="drop-menu">
                <a>Menu</a>
                <ul class="ul-drop">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li>
                        <a>Activities</a>
                        <ul>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-single.html">Single Post</a></li>
                            <li><a href="#">Second level</a></li>
                        </ul>
                    </li>
                    <li><a href="rooms.html">Rooms</a></li>
                    <li>
                        <a>Pages</a>
                        <ul>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="gallery-opened.html">Single Gallery</a></li>
                        </ul>
                    </li>
                    <li><a href="contacts.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Content Section -->
    <section class="center-align">

        <!-- Caption -->
        <div class="title-page">
            <h2>Contact Us</h2>
            <div class="page"><span class="home"></span> <a href="index.html">Home</a> &nbsp; <span class="arrow">→</span> &nbsp; Contacts Us</div>
        </div>

        <!-- -->
        <div class="dotted-line"></div>

        <!-- Contacts -->
        <article class="contacts">

            <div class="info-line cf">
                <div class="map">
                    <iframe src="https://maps.google.com/maps?q=google+map+new+york&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5+%D0%A8%D1%82%D0%B0%D1%82%D1%8B+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8&amp;gl=md&amp;t=m&amp;z=10&amp;ll=40.714353,-74.005973&amp;output=embed"></iframe><br />
                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint non proiden.
                </p>

                <div class="contactos">
                    <div class="adress">
                        <div class="icon"></div>
                        <h3>Address</h3>
                        <p>Germany Berlin, Main street  43 </p>
                    </div>
                    <div class="phone">
                        <div class="icon"></div>
                        <h3>Phone</h3>
                        <p>8 800 435-17-25 / 8 800 435-17-26</p>
                    </div>
                    <div class="email">
                        <div class="icon"></div>
                        <h3>Email</h3>
                        <p>info@bebe.co.uk / sales@bebe.co.uk</p>
                    </div>
                </div>


            </div>

            <!-- -->

            <div class="respond">
                <div class="top"> <h2>Get in touch with us</h2> </div>

                <form class="cf" method="post" id="respond-form">

                    <div class="col-4">
                        <input name="name" type="text" placeholder="Type your name"/>
                    </div>

                    <div class="col-4">
                        <input name="email" type="text" placeholder="Type your email"/>
                    </div>

                    <div class="col-4">
                        <input name="phone" type="text" placeholder="Type your phone"/>
                    </div>

                    <textarea name="subject" placeholder="Type your message"></textarea>

                    <input class="submit" type="submit" value=""/>
                </form>

            </div>

        </article>

    </section>

    <!-- Footer Section -->
    <footer>

        <section>
            <div class="center-align cf">

                <!-- Some Info  -->
                <div class="col-6 float-left">
                    <div class="col-5 information">
                        <h3>Information</h3>
                        <a href="">About BEBE</a>
                        <a href="">Privacy Policy</a>
                        <a href="">Delivery</a>
                        <a href="">Terms & Conditions</a>
                    </div>
                    <div class="col-7 contacts">
                        <h3>Contacts</h3>
                        <span class="tel">8 800 <strong>435-17-20</strong></span>
                        <span>nfo@bebe.co.uk</span>
                        <span>Germany Berlin, Main street  43</span>
                        <ul>
                            <li class="facebook"><a href=""></a></li>
                            <li class="instagram"><a href=""></a></li>
                            <li class="pinterest"><a href=""></a></li>
                            <li class="twitter"><a href=""></a></li>
                            <li class="youtube"><a href=""></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Form -->
                <div class="form float-right">
                    <form class="cf" method="post" id="contact-form">
                        <input id="name" name="name" type="text" placeholder="Name"/>
                        <input id="email" name="email" type="text" placeholder="Email"/>
                        <textarea id="message" name="subject" placeholder="Message"></textarea>
                        <input id="submit" type="submit" value="Send"/>
                    </form>
                </div>

            </div>

            <!-- Bottom Line -->
            <div class="bottom-line">
                <a class="top" href="#top">TOP</a>

                <div class="center-align cf">
                    <div class="left">&copy; 2013 BEBE. All rights reserved</div>
                    <div class="right"></div>
                </div>
            </div>

        </section>


        <!-- Background Awesomeness -->
        <div id="footer-white"></div>
        <div id="footer-yellow" class="else"></div>

        <!-- Clouds -->
        <div id="footer-cloud1" class="else"></div>
        <div id="footer-cloud2" class="else"></div>

        <!-- Birds -->
        <div id="footer-bird1"></div>
        <div id="footer-bird2"></div>
        <div id="footer-bird3"></div>

        <!-- Waves -->
        <div class="waves">
            <div id="bui2"></div>
            <div id="footer-wave1"></div>
            <div id="footer-wave2"></div>
        </div>
    </footer>

    <!-- Libs -->
    <script src="js/libs/jquery-1.10.2.min.js"></script>
    <script src="js/libs/jquery.flexslider-min.js"></script>

    <!-- Custom -->
    <script src="js/scripts.js"></script>
    <script> </script>
</body>
</html>